<div data-ng-controller="ComicsController">

    <section data-ng-init="find()">
		<div class="container">
			<h1>Home</h1>

			<ul>
				<li data-ng-repeat="comic in comics">
					<a data-ng-href="#!/comics/{{comic._id}}" data-ng-bind="comic.title"></a>
					<br>
					<small data-ng-bind="comic.description" class="description"></small>
				</li>
			</ul>

			<div data-ng-hide="!comics || comics.length">
				No comics yet, why don't you <a href="/#!/comics/create">create one</a>?
			</div>
		</div>
	</section>
</div>
