<div data-ng-controller="ComicsController">

    <section data-ng-init="find()">
		<div class="container">
			<h1>Comics</h1>

      <label>Search: <input ng-model="searchText"></label>

      <table id="searchTextResults" class="table table-hover">
        <tr><th>Title</th><th>Description</th><th>Publish Date</th></tr>
        <tr ng-repeat="comic in comics | filter:searchText">
          <td><a data-ng-href="#!/comics/{{comic._id}}" data-ng-bind="comic.title"></a></td>
          <td><small data-ng-bind="comic.description" class="description"></small></td>
          <td>{{comic.publishDate | date:"MM/dd/yyyy"}}</td>
        </tr>
        <tr>
          <td><a href="#!/comics/create">+ Add Comic</a></td>
        </tr>
      </table>

			<div data-ng-hide="!comics || comics.length">
				No comics yet, why don't you <a href="/#!/comics/create">create one</a>?
			</div>
		</div>
	</section>
</div>
