<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comic Manager</title>
  </head>
  <body ng-app="comicClient">

    <ol class="breadcrumb">
      <li><a href="#!/comics">Library</a></li>
      <li><a href="#!/comics/create">Add Comic</a></li>
    </ol>

    <section ng-view class="main-section"></section>

    <link href="/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <script type="css" src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/angular/angular.js"></script>
    <script type="text/javascript" src="/js/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

    <script type="text/javascript" src="/comics/comics.client.module.js"></script>
    <script type="text/javascript" src="/comics/controllers/comics.client.controller.js"></script>
    <script type="text/javascript" src="/comics/services/comics.client.service.js"></script>
    <script type="text/javascript" src="/comics/config/comics.client.routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>
  </body>
</html>
